* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

* html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

button {
    border:none;
}

.hidden {
    position: 0;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1180px;
    margin: 0 auto;
}

.btn {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: #000;
    padding: 9px 22px;
    margin: 20px 133px;
}


.undotted {
    list-style-type: none;
}

/* header */

.header {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 129px;
}

.header__logo {
    margin-right: 25px;
}

.header__list {
    display: flex;
    column-gap: 20.02px;
}

.header__list--left {
    margin-right: auto
}

.header__list-link {
    color: var(--black, #1E0606);
    font-size: 14px;
    text-transform: uppercase;
}

.header__list-link_contact {
    color: var(--black, #1E0606);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}


/* footer */


.footer {
    display: flex ;
    margin-top: 500px;
    background-color: #434343;
    height: 555px;

    

}

.footer__navigation {
    margin-top: 100px;
    float: left;
    


}

.footer__more {
    margin-top: 100px;
    margin-left: 320px;
    float: left;

  

}

.footer__social {
    margin-top: 100px;
    margin-left: 233px;
    float: left;

}

.footer__navigation-title {
    padding-bottom: 23px;
    color: #AAA;
    border-bottom:
        1px
        solid
        #666;
}

.footer__navigation-list {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer__navigation-list_link {
    color: #FFF;
}

.footer__more-title {
    padding-bottom: 23px;
    color: #AAA;
    border-bottom:
        1px
        solid
        #666;
}

.footer__more-list {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer__more-list_link {
    color: #FFF;
}

.footer__social-title {
    padding-bottom: 23px;
    color: #AAA;
    border-bottom:
        1px
        solid
        #666;
}

.footer__form-list {

}

.footer__form-list_item {

}
.footer__form-list_input {
    margin-top: 25px;
    padding: 9px 5px 9px 15px;
    background: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.footer__social-list {
    color: #FFF;
    display: flex;
    margin-top: 25px;
    column-gap: 10px;
}

.footer__form-button {
    margin-left: -20px;
}

.footer__more-list_link {
    color: #FFF;
}

.footer__more-list_link {
    color: #FFF;
}
